/train_loader_1
/test_loader_1
/test_df_1
/train_loader_2
/test_loader_2
/test_df_2
/train_loader_3
/test_loader_3
/test_df_3
/train_loader_4
/test_loader_4
/test_df_4
/train_loader_stu
/test_loader_stu
/test_df_stu